<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ithuplion.mapper.UserMapper">
	<!-- 开启二级缓存，默认使用org.apache.ibatis.cache.impl.PerpetualCache -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	<select id="findUserById" parameterType="int"
		resultType="com.ithuplion.pojo.User">
		select * from user where id = #{id}
	</select>
	<select id="findUserByName" parameterType="String"
		resultType="com.ithuplion.pojo.User">
		select * from user where username like "%${value}%"
	</select>
	<insert id="addUser" parameterType="com.ithuplion.pojo.User">
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			select
			last_insert_id()
		</selectKey>
		insert into user(username,birthday,sex,address)
		values(#{username},#{birthday},#{sex},#{address})
	</insert>
	<sql id="sqlid">
		<if test="user!=null">
			<if test="user.username!=null and user.username!=''">
				and username like '%${user.username}%'
			</if>
			<if test="user.sex!=null and user.sex!=''">
				and sex=#{user.sex}
			</if>
		</if>
	</sql>
	<select id="findUserByVO" parameterType="com.ithuplion.pojo.UserQueryVO"
		resultType="com.ithuplion.pojo.User">
		select * from user
		<where>
			<include refid="sqlid"></include>
		</where>
	</select>
	<sql id="sql2">
		<if test="ids!=null">
			and id in
			<foreach collection="ids" item="id" open="(" close=")"
				separator=",">
				#{id}
			</foreach>
		</if>
	</sql>
	<select id="findUserByIn" parameterType="com.ithuplion.pojo.UserQueryVO"
		resultType="com.ithuplion.pojo.User">
		SELECT * FROM USER
		<where>
			<include refid="sql2"></include>
		</where>
	</select>
	<resultMap type="com.ithuplion.pojo.User" id="userAndItemsResultMap">
		<!-- 用户信息 -->
		<id column="user_id" property="id" />
		<result column="username" property="username" />
		<result column="sex" property="sex" />
		<result column="address" property="address" />
		<!-- 订单信息 ：
			一个用户可以创建多个订单信息
		-->
		<collection property="ordersList" ofType="com.ithuplion.pojo.Orders">
			<id column="id" property="id" />
			<result column="user_id" property="user_id" />
			<result column="number" property="number" />
			<result column="createtime" property="createtime" />
			<result column="note" property="note" />
			<!-- 订单详细信息:一个订单可以创建多个订单明细信息 -->
			<collection property="orderdetailList" javaType="com.ithuplion.pojo.Orderdetail">
				<id column="orderdetail_id" property="id" />
				<result column="items_id" property="items_id" />
				<result column="items_num" property="items_num" />
				<result column="orders_id" property="orders_id" />
				<!-- 商品信息 ：
					一个订单明细对应一个商品信息
				-->
				<association property="items" javaType="com.ithuplion.pojo.Items">
					<id column="items_id" property="id" />
					<result column="items_name" property="name" />
					<result column="items_detail" property="detail" />
					<result column="items_price" property="price" />
				</association>
			</collection>
		</collection>
	</resultMap>
	<!-- 查询用户及商品信息关联order和orderdetail表 -->
	<select id="findUserAndItems" resultMap="userAndItemsResultMap">
		SELECT
		orders.*,
		user.username,
		user.sex,
		user.address,
		orderdetail.id orderdetail_id,
		orderdetail.items_id,
		orderdetail.items_num,
		orderdetail.orders_id,
		items.name items_name,
		items.detail items_detail,
		items.price items_price
		FROM orders,
		USER,
		orderdetail,
		items
		WHERE orders.user_id = user.id
		AND orders.id = orderdetail.orders_id AND orderdetail.items_id=items.id
	</select>
</mapper>
